@use "@/css/common";

.page {
  @include common.flex-box(column);
  gap: 2rem;
}

.main {
  @include common.flex-box(column);
  gap: 2rem;
}

.restaurantLink {
  font-size: 2rem;
}

.title {
  font-size: 3rem;
}

.subTitle {
  font-size: 2rem;
}
