@use "../../css/common.scss";

.dish {
  @include common.flex-box(row, space-between, center);
}

.title {
  font-size: 1.25rem;
}

.ingredientList {
  margin-left: 0.5rem;
  font-style: italic;
}

.buyLink {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
