@use "@/css/colors";

.link {
  background-color: colors.$button-bg;
  padding: 0.25rem 0.5rem;
  color: inherit;
  width: fit-content;
  text-decoration: none;
}

.link:hover {
  background-color: colors.$button-bg-hover;
}
