@use "../../css/common.scss";

.review {
  @include common.flex-box(row, space-between, center);
}

.userName {
  font-size: 1.25rem;
}

.text {
  font-style: italic;
  font-size: 1.15rem;
}

.showLink {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
