@use "../../css/colors";

.button {
  background-color: var(--button-bg-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: inherit;
  width: fit-content;
}

.button:hover {
  background-color: colors.$button-bg-hover;
  cursor: pointer;
}

.navButton {
  @extend .button;
  border-radius: 0;
  width: 100%;
}

.sizeSmall {
  font-size: 1rem;
}

.sizeMedium {
  font-size: 1.5rem;
}

.sizeLarge {
  font-size: 2rem;
}
