@use "../../css/light-colors" as colors;

.button {
  background-color: colors.$button-bg;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: inherit;
}

.button:hover {
  background-color: colors.$button-bg-hover;
}
