@use "../../css/light-colors" as colors;

.button {
  background-color: colors.$button-bg;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: inherit;
}

.button:hover {
  background-color: colors.$button-bg-hover;
}

.sizeSmall {
  font-size: 1rem;
}

.sizeMedium {
  font-size: 2rem;
}

.sizeLarge {
  font-size: 3rem;
}
