@use "../../css/common";
@use "../../css/light-colors.scss" as colors;

.layout {
  @include common.flex-box(column, center);
  gap: 2rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 80%;
  background-color: colors.$main-bg;
  color: colors.$text;
}

.main {
  @include common.flex-box(column, center);
  gap: 1rem;
}
