@use "../../css/common";
@use "../../css/colors";

.layout {
  @include common.flex-box(column);
  margin: 0 auto;
  padding: 0 2rem;
  width: 960px;
  min-height: 100vh;
  background-color: colors.$main-bg;
  color: colors.$text;
}

.main {
  @include common.flex-box(column, center);
  gap: 1rem;
}
