@use "../../css/common.scss";

.restaurantView {
  margin: 0 2rem;
}

.title {
  font-size: 6rem;
}

.subTitle {
  font-size: 3rem;
}

.main {
  @include common.flex-box(row);
  padding: 0 1rem;
}

.section {
  flex-grow: 1;
  flex-basis: 0;
}

.section > main {
  $gap: 0.5rem;

  @include common.flex-box(column);
  gap: $gap;
  padding: 0 0.75rem;
  margin-top: $gap;
}
