@use "@/css/common";

.page {
  @include common.flex-box(column);
  gap: 1rem;
}

.header {
  @include common.flex-box(column);
  gap: 2rem;
}

.title {
  font-size: 3rem;
}

.subTitle {
  font-size: 1.5rem;
}

.ingredientList {
  padding-left: 0.5rem;
  list-style-position: inside;
  font-size: 1.25rem;
}
