:root {
  /* LIGHT THEME */
  --light-main-bg-color: #fff8f0;
  --light-item-bg-color: #f5e9d3;
  --light-button-bg-color: #ff6b6b;
  --light-text-color: #4a4a4a;

  /* DARK THEME */

  --dark-main-bg-color: #1e1e24;
  --dark-item-bg-color: #2d4a3e;
  --dark-button-bg-color: #f5a623;
  --dark-text-color: #b0b0b5;
}
