* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: block;
}

ol {
  display: block;
}

li {
  display: list-item;
}

button {
  border: none;
  background: none;
}

form,
input,
textarea {
  display: block;
  border: none;
  background: none;
  outline: none;
}
